@import'base/colores';
@import'base/mixin';
@import'base/variables';
@import'componentes/cards';
@import'componentes/guias';
@import'componentes/body';
@import'componentes/header';
@import'componentes/nav';
@import'componentes/old';
@import'componentes/botones';



