$color-natural:lightgreen;
$color-loco: lightpink;
$color-naturalis: lightyellow;
$color-loquis: #ff758f;


@mixin color-scheme($text, $bg){
    background-color: $bg;
    color: $text;
}

$scheme-uno: $color-natural, $color-loco;
$scheme-gradiente: $color-naturalis, $color-loquis;


