*{
    overflow-block: auto;
    overflow-x: hidden;
}
.page-header{   
   
    @include color-scheme($scheme-bg ...);

    overflow-x: hidden;
   
}

header{
    .rosita{
        width: 100%;
    }
}

.whity{
    margin-top: 30%;
}