/*acordeon de guias.html*/

.accordion-button:is(.collapsed)::after {
    box-shadow: 3px;    
    background-color: $color-random;   
}
.accordion-button:not(.collapsed)::after {
    box-shadow: none;      
    background-color: $color-random;   
}
//en donde esta esta linea: (AQUICOLOCAELCOLOR) tienen que colocar el color en haxadecimal sin el #
.accordion-button:is(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234f000b'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;    
}
//ejemplo de como colocar en color blanco la flecha
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237400b8'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;    
}

