nav{
    @include color-scheme($scheme-rosabb...) ;
    
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    
        li{
        @include color-scheme($scheme-rosabb ...);
        text-decoration-color: $color-loquis;
        border-radius: 5px;

        a{
            @include color-scheme($scheme-rosabb ...);
        text-decoration-color: $color-loquis;
        border-radius: 5px;

        }&hover{
            @include color-scheme($scheme-rosaformal ...);
        }
       
    }
    
}

