/** ==================== * configuracion base de body =======================*/
body{
  background-color: lightcyan;
  font-family: 'Mulish', sans-serif;

}

.cartina{
  overflow-y: hidden;
}
.novedades{
  padding: 0%;
  align-content: flex-end;
}

/** ==================== * animacion que ya no utilizaré, antes era de header =======================*/


/** ==================== * barra de navegación configuración general - inicio =======================*/
/* nav */
.navbar ul li:hover > ul
{
    display:block
}

.navbar .busqueda{
  padding: 0px;
}

/** ==================== * Página index configuración de cartas =======================*/
/* animación para las cards */

.cartas{
    .align-items-stretch{
       height: 100%;
    }
    

}
.col-sm{
    background-color: lightskyblue;
    border: 1px solid black;
}

.minav{
    background-color: lightskyblue;
}

.pilly{
    background-color: cornflowerblue;
}

.carousel{
    margin-bottom: 2%;
}
/* animación para las cards con hover */

.cardi{
         transition: all 0.3s;
         position: relative;
         border: .054f5e;
         justify-content: space-around;
       
       }

.cardi:hover {
        filter: grayscale(0);
        transform: scale(1.1);
         z-index: 2;
         cursor: pointer;            
         justify-content: space-around;
        
        
        }


.div_1{
    margin: 0px;
    padding: 0px;    
}

.mibtn:hover{
    background-color: lightseagreen;
}
/** ==================== *  inicio pagina servicios.html =======================*/
/*** animacion de la pagina servicios*/
.carti-loki{
  background: linear-gradient(-25deg, $scheme-formal, $scheme-tierra);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow-x: hidden;
 }
 
 @keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
 
 }
 /* Fin animacion*/

/**  tabla uno de la pagina servicios */

.titlen{
  text-align: center;
  padding-top: 3%;
}

.body {
  background: #232222;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fefefe;
  overflow-y: hidden;
a {
  text-decoration: none;
a.link {
  color: #4477CC;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
a.link:hover {
  color: lightseagreen;
p {
  margin-bottom: 10px;
}}}}}

.tabs {
  position: relative;
  margin: 40px auto;
  width: 1024px;
  max-width: 100%;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 60px;
}

.tabs input {
  position: absolute;
  z-index: 1000;
  width: 25%;
  height: 50px;
  left: 0;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  margin: 0;
}

.tabs input#tab-2 {
  left: 25%;
}

.tabs input#tab-3 {
  left: 50%;
}

.tabs input#tab-4 {
  left: 75%;
}

.tabs input#tab-5 {
  left: 25%;
}

.tabs input#tab-6 {
  left: 50%;
}

.tabs input#tab-7 {
  left: 75%;
}
.tabs input#tab-8 {
  left: 50%;
}

.tabs input#tab-9 {
  left: 75%;
}

.tabs input#tab-10 {
  left: 25%;
}

.tabs input#tab-11 {
  left: 50%;
}

.tabs input#tab-13 {
  left: 75%;
}
.tabs input#tab-14 {
  left: 25%;
}

.tabs label {
  overflow: hidden;
  background: #4477CC;
  color: #fefefe;
  font-size: 15px;
  line-height: 50px;
  height: 60px;
  position: relative;
  top: 0;
  padding: 0 20px;
  float: left;
  display: block;
  width: 25%;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

.tabs label:hover {
  cursor: pointer;
  overflow: hidden;
}

.tabs label:after {
  overflow: hidden;
  content: '';
  background: #fefefe;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}

.tabs input:hover + label {
  background: lightseagreen;
  /*e08f24*/
}

.tabs label:first-of-type {
  z-index: 4;
}

.tab-label-2 {
  z-index: 4;
}

.tab-label-3 {
  z-index: 3;
}

.tab-label-4 {
  z-index: 2;
}
/*cagadas*/
.tab-label-5 {
  z-index: 4;
}

.tab-label-6 {
  z-index: 4;
}

.tab-label-7 {
  z-index: 3;
}

.tab-label-8 {
  z-index: 2;
}
.tab-label-9 {
  z-index: 4;
}

.tab-label-10 {
  z-index: 4;
}

.tab-label-11 {
  z-index: 3;
}

.tab-label-12 {
  z-index: 2;
}
.tab-label-13{
  z-index: 4;
}

.tab-label-14 {
  z-index: 4;
}


.tabs input:checked + label {
  background: #fefefe;
  color: #1a1a1a;
  z-index: 6;
}

.content {
  height: auto;
  width: 100%;
  float: left;
  position: relative;
  z-index: 5;
  background: #fefefe;
  top: -10px;
  box-sizing: border-box;
}

.content div {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background: #fefefe;
}

.content div h2 {
  margin-top: 0;
}

.tabs .tab-selector-1:checked ~ .content .content-1,
.tabs .tab-selector-2:checked ~ .content .content-2,
.tabs .tab-selector-3:checked ~ .content .content-3,
.tabs .tab-selector-4:checked ~ .content .content-4, 
.tabs .tab-selector-5:checked ~ .content .content-5,
.tabs .tab-selector-6:checked ~ .content .content-6,
.tabs .tab-selector-7:checked ~ .content .content-7,
.tabs .tab-selector-8:checked ~ .content .content-8,
.tabs .tab-selector-9:checked ~ .content .content-9,
.tabs .tab-selector-10:checked ~ .content .content-10,
.tabs .tab-selector-11:checked ~ .content .content-11,
.tabs .tab-selector-12:checked ~ .content .content-12, 
.tabs .tab-selector-13:checked ~ .content .content-13,
.tabs .tab-selector-14:checked ~ .content .content-14,{
  z-index: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  padding: 8%;
}

.content div h2 {
  color: #4477CC;
}

.content div p {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin: 0;
  color: #777;
}
/* fin tabla*/

/** ==================== * fin pagina servicios =======================*/

/** ==================== * Pagina historia.html =======================*/

/*LINEA DE TIEMPO NUEVA*/
.timelinenew div{
  width: 300px;
  margin: auto;
}
.timelinenew p {

  border-top: 2px dashed;
  border-color: blue !important;
  margin:0; padding: 30px;
}
.timelinenew p:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
}
.timelinenew p:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

.timelinenew p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.timelinenew p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
/*FIN*/
/** comienzo Pagina historia colores */
.margen{
  margin: 2%;
}
.history{ 
  margin-top: 3%;
  background-color: lightsalmon;
  border-color: #e73c7e;
  border-width: 1%;
  padding: 3%;
}
.history h2{
  text-align: center;
}

.colores{
  margin: 5%;
  margin-left: 5%;
  margin-right: 2%;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}
.section{
  width: 100%;
  position: relative;
}
#section1{
  background:#f47070;
  z-index: 10;
}
#section2{
  background: #f5d36e;
  z-index: 9;
}
#section3{
  background: #f5f567;
  z-index: 8;
}
#section4{
  background: #83ec89;
  z-index: 7;
}
#section5{
  background: #f47070;
  z-index: 6;
}
#section6{
  background: #f5d36e;
  z-index: 5;
}
.section::after{
  content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	bottom: 0;
}
#section1::after, #section2::after, #section4::after{
	transform-origin: left bottom;
	transform: skewY(3deg);
}
#section3::after, #section5::after{
	transform-origin: right bottom;
	transform: skewY(-3deg);
}
.sectionInner{
  height: auto;
  display: block;
  overflow: hidden;
  padding: 200px 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1rem;
}

/** ==================== * FIn Pagina historia.html =======================*/
/** ==================== * comienzo Pagina calidad ======================*/

  /* Animacion de organigrama */

 .organitograma{
  background: linear-gradient(-25deg, $scheme-formal, $scheme-tierra);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow-x: hidden;
 }
 
 @keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
 
 }
 /* Fin animacion*/

   /* Animacion de plan estrategico */

   .plan{
    background: linear-gradient(-25deg, $scheme-arcoiris, $scheme-pinterest);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow-x: hidden;
   }
   
   @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
   
   }
   /* Fin animacion*/

   /* Animacion de politica */

   .politica{
    background: linear-gradient(-25deg,$scheme-rosabb, $scheme-arcoiris);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow-x: hidden;
   }
   
   @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
   
   }
   /* Fin animacion*/
.politica{
  margin-top: 3%;
  text-align: justify;
}

.politica h2{
  text-align: center;
}
.plan{
  margin-top: 5%;
  text-align: justify;
}

.plan h2{
  text-align: center;
}


/** ==================== * Lista de Comentarios pagina calidad =======================*/


.comments-container {
overflow-x: hidden;
 margin: 60px auto 15px;
 width: 768px;
}

.comments-container h1 {
 
 font-size: 36px;
 color: #283035;
 font-weight: 400;
 overflow-x: hidden;
}

.comments-container h1 a {
 font-size: 18px;
 font-weight: 700;
 overflow-x: hidden;
}

.comments-list {
 margin-top: 30px;
 position: relative;
 overflow-x: hidden;
}

/*** Lineas / Detalles-----------------------*/
.comments-list:before {
 content: '';
 width: 2px;
 height: 100%;
 background: #c7cacb;
 position: absolute;
 left: 32px;
 top: 0;
 overflow-x: hidden;
}

.comments-list:after {
 content: '';
 position: absolute;
 background: #c7cacb;
 bottom: 0;
 left: 27px;
 width: 7px;
 height: 7px;
 border: 3px solid #dee1e3;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
 overflow-x: hidden;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
 content: '';
 width: 60px;
 height: 2px;
 background: #c7cacb;
 position: absolute;
 top: 25px;
 left: -55px;
 overflow-x: hidden;
}


.comments-list li {
 margin-bottom: 15px;
 display: block;
 position: relative;
 overflow-x: hidden;
}

.comments-list li:after {
 content: '';
 display: block;
 clear: both;
 height: 0;
 width: 0;
 overflow-x: hidden;
}

.reply-list {
 padding-left: 88px;
 clear: both;
 margin-top: 15px;
 overflow-x: hidden;
}
/*** Avatar---------------------------*/
.comments-list .comment-avatar {
 width: 65px;
 height: 65px;
 position: relative;
 z-index: 99;
 float: left;
 border: 3px solid #FFF;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 overflow-x: hidden;
}

.comments-list .comment-avatar img {
 width: 100%;
 height: 100%;
 overflow-x: hidden;
}

.reply-list .comment-avatar {
 width: 50px;
 height: 50px;
 overflow-x: hidden;
}

.comment-main-level:after {
 content: '';
 width: 0;
 height: 0;
 display: block;
 clear: both;
 overflow-x: hidden;
}
/*** Caja del Comentario---------------------------*/
.comments-list .comment-box {
 width: 680px;
 float: right;
 position: relative;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
 -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
 box-shadow: 0 1px 1px rgba(0,0,0,0.15);
 overflow-x: hidden;
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
 content: '';
 height: 0;
 width: 0;
 position: absolute;
 display: block;
 border-width: 10px 12px 10px 0;
 border-style: solid;
 border-color: transparent #FCFCFC;
 top: 8px;
 left: -11px;
 overflow-x: hidden;
}

.comments-list .comment-box:before {
 border-width: 11px 13px 11px 0;
 border-color: transparent rgba(0,0,0,0.05);
 left: -12px;
 overflow-x: hidden;
}

.reply-list .comment-box {
 width: 610px;
 overflow-x: hidden;
}
.comment-box .comment-head {
 background: #FCFCFC;
 padding: 10px 12px;
 border-bottom: 1px solid #E5E5E5;
 overflow-x: hidden;
 -webkit-border-radius: 4px 4px 0 0;
 -moz-border-radius: 4px 4px 0 0;
 border-radius: 4px 4px 0 0;
 overflow-x: hidden;
}

.comment-box .comment-head i {
 float: right;
 margin-left: 14px;
 position: relative;
 top: 2px;
 color: #A6A6A6;
 cursor: pointer;
 -webkit-transition: color 0.3s ease;
 -o-transition: color 0.3s ease;
 transition: color 0.3s ease;
 overflow-x: hidden;
}

.comment-box .comment-head i:hover {
 color: #03658c;
 overflow-x: hidden;
}

.comment-box .comment-name {
 color: #283035;
 font-size: 14px;
 font-weight: 700;
 float: left;
 margin-right: 10px;
 overflow-x: hidden;
}

.comment-box .comment-name a {
 color: #283035;
 overflow-x: hidden;
}

.comment-box .comment-head span {
 float: left;
 color: #999;
 font-size: 13px;
 position: relative;
 top: 1px;
 overflow-x: hidden;
}

.comment-box .comment-content {
 background: #FFF;
 padding: 12px;
 font-size: 15px;
 color: #595959;
 -webkit-border-radius: 0 0 4px 4px;
 -moz-border-radius: 0 0 4px 4px;
 border-radius: 0 0 4px 4px;
 overflow-x: hidden;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
 content: 'autor';
 background: #03658c;
 color: #FFF;
 font-size: 12px;
 padding: 3px 5px;
 font-weight: 700;
 margin-left: 10px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 overflow-x: hidden;
}

/** =====================* Responsive========================*/
@media only screen and (max-width: 766px) {
 .comments-container {
   width: 480px;
   overflow-x: hidden;
 }

 .comments-list .comment-box {
   width: 390px;
   overflow-x: hidden;
 }

 .reply-list .comment-box {
   width: 320px;
   overflow-x: hidden;
 }
}

/** =====================* /* Fin opiniones pagina calidad ========================*/

/** =====================* Comienzo de Pagina about ========================*/
/** * carrusel pagina about gatitios */
#carouselExampleInterval{
  width: 70%;
align-self: center; /** * no me funcionaba alinearlo en el centro así que puse un padding */
align-items: center;
align-content: center;
padding-left: 25%;
}

/* about -misión nesting */
.abouti{
  background-color: #e5b3fe;
  text-align: justify; 
  overflow-x: hidden;
  padding: 5%;
.sobre{
  text-align: center;
  padding: 2%;
  .p{
    padding: 2%; 
  }} }

  /* carrusel de instalaciones nesting */
.carro{
  align-items: center;
  background-color: #ffee93;
  padding-bottom: 2%;
.instalaciones{
  text-align: center;
  padding: 2%;
}}

/* horarios nesting */
.horario{
background-color: #90f3ff;
text-align: justify;
.horarios{
  text-align: center;
  margin-top: 2%;
  }}

/** =====================* Fin de Pagina about ========================*/
/** =====================* Comienzo de Pagina calidad ========================*/
/* graficos pagina calidad */

  .encuesta{
    @include color-scheme($scheme-suave ...);
    margin-top: 3%;
  text-align: justify;
    .encuestar{
    
    text-align: center;}
  }

/* graficos pagina calidad */
.grafico-container {
  margin-bottom: 3%;
}



.titular {
display: block;
line-height: 60px;
margin: 0;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}
		.block {
			margin: 25px 25px 0 0;
			background: #394264;
			border-radius: 5px;
      float: left;
      width: 300px;
		}
/* contenedor izquierdo */

		.left-container {}
			.menu-box {
				height: 360px;
			}

			.donut-chart-block {
				overflow: hidden;
			}
				.donut-chart-block .titular {
					padding: 10px 0;
				}
				.os-percentages li {
					width: 75px; 
					border-left: 1px solid #394264;
					text-align: center;					
					background: #50597b;
				}
					.os {
						margin: 0;
						padding: 10px 0 5px;
						font-size: 15px;		
					}
						.os.ios {
							border-top: 4px solid #e64c65;
						}
						.os.mac {
							border-top: 4px solid #11a8ab;
						}
						.os.linux {
							border-top: 4px solid #fcb150;
						}
						.os.win {
							border-top: 4px solid #4fc4f6;
						}
					.os-percentage {
						margin: 0;
						padding: 0 0 15px 10px;
						font-size: 25px;
					}
			.line-chart-block, .bar-chart-block {
				height: 400px;
			}
				.line-chart {
					height: 200px;
					background: #11a8ab;
				}
				.time-lenght {
					padding-top: 22px;
					padding-left: 38px;
         
				}
					.time-lenght-btn {
						display: block;
						width: 70px;
						line-height: 32px;
						background: #50597b;
						border-radius: 5px;
						font-size: 14px;
						text-align: center;
						margin-right: 5px;
						-webkit-transition: background .3s;
						transition: background .3s;
					}
						.time-lenght-btn:hover {
							text-decoration: none;
							background: #e64c65;
						}
				.month-data {
					padding-top: 28px;
				}
					.month-data p {
						display: inline-block;
						margin: 0;
						padding: 0 25px 15px;            
						font-size: 16px;
					}
						.month-data p:last-child {
							padding: 0 25px;
              float: right;
							font-size: 15px;
						}
						.increment {
							color: #e64c65;
						}

/******************************************
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
ESTILOS PROPIOS DE LOS GRÄFICOS
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ 
GRAFICO LINEAL
******************************************/

.grafico {
  padding: 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.grafico span {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}
.grafico span > span {
  left: 100%; bottom: 0;
}
[data-valor='25'] {width: 75px; transform: rotate(-45deg);}
[data-valor='8'] {width: 24px; transform: rotate(65deg);}
[data-valor='13'] {width: 39px; transform: rotate(-45deg);}
[data-valor='5'] {width: 15px; transform: rotate(50deg);}
[data-valor='23'] {width: 69px; transform: rotate(-70deg);}
[data-valor='12'] {width: 36px; transform: rotate(75deg);}
[data-valor='15'] {width: 45px; transform: rotate(-45deg);}

[data-valor]:before {
  content: '';
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}
[data-valor='23']:after {
  content: '+' attr(data-valor) '%';
  position: absolute;
  right: -2.7rem;
  top: -1.7rem;
  padding: .3rem .5rem;
  background: #50597B;
  border-radius: .5rem;
  transform: rotate(45deg);  
}
[class^='eje-'] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 80%;
}
.eje-x {
  height: 2.5rem;
}
.eje-y li {
  height: 25%;
  border-top: 1px solid #777;
}
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
} 
.eje-x li {
  width: 33%;
  float: left;
  text-align: center;
}

/******************************************
GRAFICO CIRCULAR PIE CHART
******************************************/
.donut-chart {
  position: relative;
	width: 200px;
  height: 200px;
	margin: 0 auto 2rem;
	border-radius: 100%
 }
p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
	font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
.center-date span.scnd-font-color {
 line-height: 0; 
}
.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }
#porcion1 {
    transform: rotate(0deg);
  }

#porcion1 .quesito {
    background-color: #E64C65;
    transform: rotate(76deg);
  }
#porcion2 {
    transform: rotate(76deg);
  }
#porcion2 .quesito {
    background-color: #11A8AB;
    transform: rotate(140deg);
  }
#porcion3 {
    transform: rotate(215deg);
  }
#porcion3 .quesito {
    background-color: #4FC4F6;
    transform: rotate(113deg);
  }
#porcionFin {
    transform:rotate(-32deg);
  }
#porcionFin .quesito {
    background-color: #FCB150;
    transform: rotate(32deg);
  }
.nota-final {
  clear: both;
  color: #4FC4F6;
  font-size: 1rem;
  padding: 2rem 0;
}
.nota-final strong {
  color: #E64C65;
}
.nota-final a {
  color: #FCB150;
  font-size: inherit;
}
/**************************
Grafico que no use pero lo guardo aca por las dudas
**************************
.grafico.bar-chart {
  background: #3468AF;
  padding: 0 1rem 2rem 1rem;
  width: 100%;
  height: 60%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.bar-chart [class^='eje-'] {
  padding: 0 1rem 0 2rem;
  bottom: 1rem;
}
.bar-chart .eje-x {
  bottom: 0;
}
 .bar-chart .eje-y li {
  height: 20%;
  border-top: 1px solid #fff;
}
.bar-chart .eje-x li {
  width: 14%;
  position: relative;
  text-align: left;
}
.bar-chart .eje-x li i {
  transform: rotatez(-45deg) translatex(-1rem);
  transform-origin: 30% 60%;
  display: block;
}
.bar-chart .eje-x li:before {
  content: '';
  position: absolute;
  bottom: 1.9rem;
  width: 70%;
  right: 5%;
  box-shadow: 3px 0 rgba(0,0,0,.1), 3px -3px rgba(0,0,0,.1);
}
.bar-chart .eje-x li:nth-child(1):before {
  background: #E64C65;  
  height: 570%;
}
.bar-chart .eje-x li:nth-child(2):before {
  background: #11A8AB;  
  height: 900%;
}
.bar-chart .eje-x li:nth-child(3):before {
  background: #FCB150;  
  height: 400%;
}
.bar-chart .eje-x li:nth-child(4):before {
  background: #4FC4F6;  
  height: 290%;
}
.bar-chart .eje-x li:nth-child(5):before {
  background: #FFED0D;  
  height: 720%;
}
.bar-chart .eje-x li:nth-child(6):before {
  background: #F46FDA;  
  height: 820%;
}
.bar-chart .eje-x li:nth-child(7):before {
  background: #15BFCC;  
  height: 520%;
}

/* FIN graficos pagina calidad */
/** =====================* Fin de Pagina Calidad.html ========================*/
/** =====================* Comienzo de Pagina contacto.html ========================*/

/* Formulario de contacto página Contacto  con animacion gradiente*/

.contacto{

  margin-bottom: 5%;
  background: linear-gradient(-25deg, $scheme-babypastel, $color-loco, $color-loquis);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}
/* Fin formulario de contacto página Contacto*/

/** =====================* Fin de Pagina contacto.html ========================*/
/** =====================* Comienzo de Footer de todas las páginas ========================*/

/* Footer con animacion gradiente */

.foot{
     background: linear-gradient(-45deg, $scheme-babypastel, $scheme-verde);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}
/* Fin animacion gradiente de footer*/
/* columnas de footer*/
.foot .col{
 width: 50%;
}
/* formulario suscripción a newsleter footer*/
.formularios{
    margin-top: 2%;
    margin-left: 2%;

}
/* iframe mapa de footer*/
.mapita{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    overflow:hidden;

    
}


/* gift de libro footer  */
.libri{
  display: flex;
  flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    text-align: left;
    align-content: center;
    width: 30%;
    overflow-x: hidden;
  
    }

/** =====================* Fin de Footer ========================*/
/** =====================* Comienzo de botones universales ========================*/
/* botones*/
    .custom-btnn {
      flex-wrap: wrap;
      width: 8.125rem;
      height: 2.5rem;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      outline: none;
    }
    
    /* 1 */
    .btn-1 {
      background: rgb(6,14,131);
      background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
      border: none;
    }
    .btn-1:hover {
       background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
    }
    
    /* 2 */
    .btn-2 {
      background: rgb(96,9,240);
      background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
      border: none;
      
    }
    .btn-2:before {
      height: 0%;
      width: 2px;
    }
    .btn-2:hover {
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                  -4px -4px 6px 0 rgba(116, 125, 136, .5), 
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    }
    
    
    /* 11 */
    .btn-11 {
      background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
      width: 130px;
      height: 40px;
      line-height: 42px;
      padding: 0;
      border: none;
      
    }
    .btn-11 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-11:before,
    .btn-11:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
       background: rgba(2,126,251,1);
      transition: all 0.3s ease;
    }
    .btn-11:before {
      height: 0%;
      width: 2px;
    }
    .btn-11:after {
      width: 0%;
      height: 2px;
    }
    .btn-11:hover{
       background: transparent;
      box-shadow: none;
    }
    .btn-11:hover:before {
      height: 100%;
    }
    .btn-11:hover:after {
      width: 100%;
    }
    .btn-11 span:hover{
       color: rgba(2,126,251,1);
    }
    .btn-11 span:before,
    .btn-11 span:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
       background: rgba(2,126,251,1);
      transition: all 0.3s ease;
    }
    .btn-11 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-11 span:after {
      width: 0%;
      height: 2px;
    }
    .btn-11 span:hover:before {
      height: 100%;
    }
    .btn-11 span:hover:after {
      width: 100%;
    } 
    
    /* 4 */
    .btn-4 {
      background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-4:hover{
      background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    }
    .btn-4 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-4:before,
    .btn-4:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
       box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      transition: all 0.3s ease;
    }
    .btn-4:before {
      height: 0%;
      width: .1px;
    }
    .btn-4:after {
      width: 0%;
      height: .1px;
    }
    .btn-4:hover:before {
      height: 100%;
    }
    .btn-4:hover:after {
      width: 100%;
    }
    .btn-4 span:before,
    .btn-4 span:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      transition: all 0.3s ease;
    }
    .btn-4 span:before {
      width: .1px;
      height: 0%;
    }
    .btn-4 span:after {
      width: 0%;
      height: .1px;
    }
    .btn-4 span:hover:before {
      height: 100%;
    }
    .btn-4 span:hover:after {
      width: 100%;
    }
    
    /* 5 */
    .btn-5 {
      width: 8.125rem;
      height: 2.5rem;
      line-height: 2.625rem;
      padding: 0;
      border: none;
      background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
    }
    .btn-5:hover {
      color: #f0094a;
      background: transparent;
       box-shadow:none;
    }
    .btn-5:before,
    .btn-5:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: #f0094a;
      box-shadow:
       -1px -1px 5px 0px #fff,
       7px 7px 20px 0px #0003,
       4px 4px 5px 0px #0002;
      transition:400ms ease all;
    }
    .btn-5:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }
    .btn-5:hover:before,
    .btn-5:hover:after{
      width:100%;
      transition:800ms ease all;
    }
    
    
    /* 6 */
    .btn-6 {
      background: rgb(247,150,192);
    background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-6 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-6:before,
    .btn-6:after {
      position: absolute;
      content: "";
      height: 0%;
      width: 1px;
     box-shadow:
       -1px -1px 20px 0px rgba(255,255,255,1),
       -4px -4px 5px 0px rgba(255,255,255,1),
       7px 7px 20px 0px rgba(0,0,0,.4),
       4px 4px 5px 0px rgba(0,0,0,.3);
    }
    .btn-6:before {
      right: 0;
      top: 0;
      transition: all 500ms ease;
    }
    .btn-6:after {
      left: 0;
      bottom: 0;
      transition: all 500ms ease;
    }
    .btn-6:hover{
      background: transparent;
      color: #76aef1;
      box-shadow: none;
    }
    .btn-6:hover:before {
      transition: all 500ms ease;
      height: 100%;
    }
    .btn-6:hover:after {
      transition: all 500ms ease;
      height: 100%;
    }
    .btn-6 span:before,
    .btn-6 span:after {
      position: absolute;
      content: "";
      box-shadow:
       -1px -1px 20px 0px rgba(255,255,255,1),
       -4px -4px 5px 0px rgba(255,255,255,1),
       7px 7px 20px 0px rgba(0,0,0,.4),
       4px 4px 5px 0px rgba(0,0,0,.3);
    }
    .btn-6 span:before {
      left: 0;
      top: 0;
      width: 0%;
      height: .5px;
      transition: all 500ms ease;
    }
    .btn-6 span:after {
      right: 0;
      bottom: 0;
      width: 0%;
      height: .5px;
      transition: all 500ms ease;
    }
    .btn-6 span:hover:before {
      width: 100%;
    }
    .btn-6 span:hover:after {
      width: 100%;
    }

    /* 8 */
.btn-8 {
  background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #c797eb;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}

/** =====================* Fin de botones universales ========================

@media (min-width: 600px){
  p{
 font-size:1.15em}}
 
 @media (min-width: 800px){
  p{
 font-size:1.5em}}

 @media screen and (max width: 700px){
	.ocultar{ display:none;
}} */